$primary:#EB5160;
$secondary:#AC61D1;
$third:#FFAFF0;
$white:#FFFFFF;
$black:#000000;
$grey1:#f9f9f9;
$grey2:#e5e5e5;
$grey3:#c9c9c9;
$grey4:#a9a9a9;
$grey5:#999999;
$grey6:#777777;
$grey7:#555555;
$grey8:#444444;
$grey9:#333333;